<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Dr. S Saraswathi</title>

    <!-- Style -->
     <link rel="stylesheet" href="../static/style.css">

    <style>
    
    </style>
</head>
<body>

    <!-- NAVBAR -->
<nav class="navbar">
  <div class="logo">SS Homoeo Clinic</div>
  <div class="menu-toggle" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav-links" id="navLinks">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#doctor">Our Doctor</a>
    <a href="#testimonials">Testimonials</a>
    <button class="btn"><a href="#booking" style="color: white;">Book Appointment</a></button>
  </div>
</nav>


<button><a href="home.html">Back</a>
</button>

    <div class="image">
        <img src="static\dr. S. Saraswathi.jpeg" alt="" width="100%">
    </div>
</body>
</html>